<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <meta name='keywords' content='四川大学, 绩点, 平均分, 一键计算, SCUGPA'>
    <meta name='description' content='四川大学绩点平均分一键计算'>
    <link rel='shortcut icon' type='image/ico' href='/images/favicon.ico'>
    <link rel="stylesheet" href="/assets/bundle.css">
    <meta name='author' content='http://github.com/nodejh'>
    <meta charset='utf-8'>
  </head>
  <body>
    <div id='app'></div>
    <script type='text/javascript' src='/assets/bundle.js'></script>
  </body>
</html>
